:root {
    --brars-yellow: #ecab3e;   
}

body {
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

::selection {
    background: var(--brars-yellow);
    color: black;
}

h1 {
    padding: 0.8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    max-width: 28rem;
    font-family: "Racing Sans One", sans-serif;
    background-color: black;
}

h2 {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
    font-family: "Racing Sans One", sans-serif;
}

p {
    font-size: 1.2rem;
    font-family: "Abel", sans-serif;
    font-weight: 400;
    width: 100%;
    max-width: 28rem;
    background-color: black;
}

a {
    color: white;
    text-decoration: none;
}

a.currentPage {
    text-decoration: underline dashed;
}

a:hover {
    color: var(--brars-yellow);
    fill: var(--brars-yellow);
    cursor: pointer;
    transition: 0.1s;
}

.navbar > a:hover {
    color: white;
    transition: 0.1s;
}

.svgToWhite {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(316deg) brightness(106%) contrast(101%);
}

a:hover > svg {
    filter: invert(78%) sepia(65%) saturate(719%) hue-rotate(330deg) brightness(99%) contrast(87%);
    transition: 0.1s;
}

.brarsYellow {
    color: var(--brars-yellow);
}

.header {
    margin-bottom: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    /* Prevent appearance of scrollbar to shift content to the left */
    padding-left: calc(100vw - 100%);

    /* Background pattern for header */
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(#fff 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.logo {
    z-index: 999;
    height: 14rem;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    transition: 0.2s;
}

.logo:hover {
    cursor: pointer;
    height: 15rem;
    margin-top: -0.25rem;
    margin-bottom: 0.25rem;
    transition: 0.2s;
}

.navbar {
    font-size: 1.5rem;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 500;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    color: black;
    background-color: #ecab3e;
    border-top: solid black 0.35rem;
    border-bottom: solid black 0.35rem;

    /* Prevent appearance of scrollbar to shift content to the left */
    padding-left: calc(0.5rem + 100vw - 100%);
}

.navbar > a {
    color: black;
}

.content {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

footer {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #000;
}

.contact {
    color: white;
}

.contactWay {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

@keyframes fadeInFromBelow {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}