.shows {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeInFromBelow 1s both;
}

.shows > h1 {
    padding-left: 0.675rem;
    padding-right: 0.675rem;
    margin: 0;
}

.showInfo {
    width: 100%;
    max-width: 40rem;
    padding-right: 0.75rem;
    display: inline;
    background-color: black;
    border: 0.3rem solid black;
}

.showInfo > h2 {
    margin-left: 0.5rem;
}
.showInfo > p {
    padding-top: 0;
    margin: 0;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 100%;
    background-color: transparent;
}

.showInfo:hover > h2 {
    color: var(--brars-yellow);
    transition: 0.1s;
}

.showInfo:hover > .portrait {
    filter: contrast(110%) brightness(110%);
    transition: 0.2s;
}

.portrait {
    height: 8rem;
    float: left;
    margin-right: 1rem;
}
